html {
  box-sizing: border-box; }

main hr {
  margin: 0;
  border-color: #317eac; }

header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DDECF8; }

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DDECF8;
  background-color: #317eac; }
  footer a {
    color: #DDECF8;
    text-decoration: underline; }
    footer a:visited {
      color: #DDECF8; }
    footer a:hover {
      color: #DDECF8; }

#title {
  color: #317eac;
  font-family: 'Philosopher', sans-serif;
  font-size: 110px;
  text-shadow: 2px 2px black;
  display: inline; }

#gmap {
  height: calc(100vh - 200px);
  width: 66%;
  padding: 0;
  float: left; }

#event-list {
  height: calc(100vh - 200px);
  width: 34%;
  padding: 0;
  background-color: #DDECF8;
  overflow: scroll;
  overflow-x: hidden; }

#event-selection-title {
  color: #317eac;
  margin: 0 10px; }

.btn-success {
  margin: 10px; }

.btn-info {
  margin-top: 10px;
  margin-bottom: 10px; }

.eventful-badge {
  position: absolute;
  bottom: 1px;
  right: 10px; }

.eventful-msg {
  margin: 0; }

.event-selection-title {
  color: #317eac;
  margin: 0;
  list-style-type: none; }

.navi-logo {
  width: 125px;
  height: 100px; }

.event-title {
  margin: 0;
  color: #317eac; }

.line-title {
  margin: 0;
  color: #317eac; }

.single-event0 {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.05); }
  .single-event0:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.single-event1 {
  padding: 20px;
  background-color: white; }
  .single-event1:hover {
    background-color: rgba(0, 0, 0, 0.2); }

.event-image {
  height: 150px;
  width: 200px;
  float: right; }

.event-info {
  display: inline;
  width: 400px; }

.event-details {
  margin: 0;
  color: black; }

.event-image {
  height: 150px;
  width: 150px;
  float: right; }
