$light-blue: #DDECF8;
// $light-blue: #CCDDFF;
$med-blue: #BBCCF6;
$dark-blue: #435C9C;
$light-gray: #DDDDDD;

$main-color: #6394F8;

html {
  box-sizing: border-box;
}

#map {
}

#event-list {
  background-color: $light-gray;
  height: 100vh;
}


.single-event0 {
  background-color: $light-blue;
  border-color: $dark-blue;
  &:hover {
    background-color: $med-blue;
  }
}

.single-event1 {
  background-color: white;
  border-color: $dark-blue;
  &:hover {
    background-color: $med-blue;
  }
}


.event-image {
  height: 100px;
  width: 150px;
  float: left;
}

.event-info {
  display: inline;
  width: 400px;
}

.event-details {
  margin: 0;
}

.button {
  color: black;
  text-align: center;
  display: block;
  padding: 0;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  background-color: none;

  &:hover {
    color: white;
    background: $med-blue;
  }
}

.remove-underline {
  text-decoration: none;
}
