@import "minitable";

$aside-color: #BBCCF6;

html {
  box-sizing: border-box;
}

.gmap {
  height: 80vh;
  width: 70%;
}

nav {

}

aside {
  background-color: $aside-color;
  height: 80vh;
  border-radius: 10px
}
